{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>Данный проект всего лишь обучение джангой</h1>
        </header>
        <main>
            <h2>Навигация по урокам:</h2>
            <ol>
                <li><a href="/first/">built-in "for" and "if", python variables to html-pages</a></li>
                <li><a href="/second/">work with tag "form"</a></li>
                <li><a href="/third/">tag &ltform> as class</a></li>
                <li><a href="/fourth0/">inheritance of html templates0</a></li>
                <li><a href="/fourth1/">inheritance of html templates1</a></li>
                <li><a href="/fourth2/">inheritance of html templates2</a></li>
                <li><a href="/fourth3/">inheritance of html templates3</a></li>
                <li><a href="/fifth/">work with static files</a></li>
                <li><a href="/fourth2/">no</a></li>
            </ol>
        </main>
        <footer>
            <a href="/admin/">админка</a>
        </footer>
    </div>
</body>
</html>